<div class="search">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
    </span>
  </div>
</div>
<!-- /input-group -->
<ul class="list m-a-0">
  <li class="list-item hover" data-ng-repeat="function in $ctrl.functions track by $index" data-ng-click="$ctrl.selectFn(function)" data-ng-class="{'active': $ctrl.$state.params.function_id == function.iD}">
    <div class="list-left">
      <span class="w-40 circle avatar avatar-text" color-this="background-color" data-color="function.name">
              <span style="text-transform: uppercase">{{function.name | limitTo:2}}</span>
      <i class="off b-danger"></i>
      </span>
    </div>
    <div class="list-body">
      <div data-ng-bind="function.name" class="_600"></div>
      <small class="text-muted text-ellipsis"><span class="_300">{{ $ctrl.fuctionRuns[function.iD]['executionTime'] | date : 'dd/MM/yyyy'}}</span></small>
    </div>
  </li>
</ul>