.page-app {
    .app-actions {
        >a {
            padding-top: 0;
            padding-bottom: 0;
            line-height: 0;
            font-size: 18px;
        }
    }
    .sep {
        display: inline-block;
        width: 1px;
        height: 10px;
        background: $gray;
        margin: 0 3px;
    }
}