<div class="header signin-header clearfix example3">
  <nav class="navbar navbar-static-top">
      <div class="navbar-header">
        <a data-ng-href="" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"><i class="fa fa-user-circle-o"></i></a>
        <a class="navbar-brand" href="/"><img src="./assets/images/lambda-launcher-icon.png" alt="Lambda launcher">
        </a>
      </div>
      <div class="title-bar"><h2>Lambda Launcher</h2></div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a data-ng-href=""><i class="fa fa-user-circle-o"></i></a> </li>
          <li><a data-ng-href="" data-ng-click="$ctrl.logout($event)">Log Out</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
  </nav>
</div>