<div class="header clearfix example3" data-ng-if="$ctrl.isLoggedIn()">
  <nav class="navbar navbar-static-top">
    <div class="navbar-header">
      <!-- Simple dropdown -->
      <span uib-dropdown  class="visible-xs navbar-toggle" style="position: static;">
      <a href id="simple-dropdown" uib-dropdown-toggle >
        <i class="fa fa-user-circle-o"></i>
      </a>
      <ul class="dropdown-menu pull-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
       <li><a data-ng-href="" data-ng-click="$ctrl.logout($event)">Log Out</a></li>
      </ul>
    </span>

      <a class="navbar-brand" href="/">
      <img src="./assets/images/lambda-launcher-icon.png" alt="Lambda launcher" class="hidden-xs">
      <img src="./assets/images/logo-mobile.png" alt="Lambda launcher" class="visible-xs">
        </a>
    </div>
    <div class="title-bar">
      <h2>Lambda Launcher</h2>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a data-ng-href=""><i class="fa fa-user-circle-o"></i></a> </li>
        <li><a data-ng-href="" data-ng-click="$ctrl.logout($event)">Log Out</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </nav>
</div>

<div class="header signin-header clearfix" data-ng-if="!$ctrl.isLoggedIn()">
  <section class="logo text-center">
    <a ui-sref="login({app: $ctrl.appName})" title="Lambda Functions">
       <img src="./assets/images/aws-lambda-launcher-logo.png"></a>
  </section>