/* Custom page header */

.nav-item {
    background: none;
    position: relative;
    font-size: 18px;
    line-height: 1.09;
    text-align: left;
    color: #f1f1f1;
    &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 20px;
        right: 0;
        background: $white;
    }
    &:hover,
    &:focus {
        background: none;
        color: $brand-primary;
    }
    i {
        font-size: 2rem;
    }
}

.header {
    .title-bar {
        position: absolute;
        text-align: center;
        right: 0;
        left: 0;
        top: 18px;
        h2 {
            font-size: 30px;
            font-weight: 300;
            line-height: 0.57;
            text-align: center;
            color: #ffffff;
        }
    }
    .navbar-brand {
        padding: 0px;
        height: 80px;
        >img {
            height: 100%;
            padding: 10px 10px 0px;
            width: auto;
        }
    }
    .navbar {
        margin-bottom: 0;
        .navbar-header {
            .navbar-toggle {
                padding: 10px;
                margin: 25px 15px 25px 0;
                @extend .nav-item;
                &:after {
                    content: none;
                }
            }
        }
        .nav {
            >li {
                >a {
                    padding-top: 30px;
                    padding-bottom: 30px;
                    @extend .nav-item;
                }
                &:last-child {
                    >a {
                        &:after {
                            content: none;
                        }
                    }
                }
            }
        }
        @media (max-height: 768px) {
            .navbar-header {
                .navbar-toggle {
                    margin-top: -6px;
                }
            }
        }
    }
    &.signin-header {
        @media (min-height: 768px) {
            //margin-top: 150px;
        }
    }
    @media (max-width: 768px) {
        .container {
            padding: 0;
        }
        .header .navbar-brand>img {
            padding: 15px 15px;
        }
        .title-bar {
          h2{
            font-size: 23px;
          }
        }

        .app-content{
          top: 60px;
        }
    }
}