<form name="resetRequestFrom" novalidate data-ng-submit="$ctrl.requestResetPassword()">
  <div class="modal-header no-border p-b-sm">
    <h3 class="_300 modal-title">Forgot Password</h3>
    <button type="button" class="close" data-ng-click="$ctrl.cancel()" data-dismiss="modal" aria-label="Close"><i class="ion-close-round text-lg"></i></button>
  </div>
  <div class="modal-body p-t-0 p-b-0">
    <div class="form-group">
      <label class="control-label">Username</label>
      <input type="email" class="form-control" name="username" data-ng-model="$ctrl.user.username" placeholder="Enter your email">
    </div>
  </div>
  <div class="modal-footer no-border pb-md">
    <button class="btn btn-default" type="button" data-ng-click="$ctrl.cancel()">Cancel</button>
    <button class="btn btn-primary" type="submit">Request Password</button>
  </div>
</form>