<div class="container page-signin">
  <app-header></app-header>
  <div class="jumbotron signIn">
    <!-- /login page content -->
     <div class="signin-form reset-password">
          <h4 class="text-left">
            <span>Reset Password</span>
          </h4>
          <form class="form-horizontal" name="$ctrl.resetPassForm" ng-submit="$ctrl.resetPassword()" novalidate>
            <fieldset>
              <div class="alert alert-danger" data-ng-show="$ctrl.error" data-ng-bind="$ctrl.error">
              </div>
              <div class="form-group">
                <div class="input-group input-group-first">
                  <span class="input-group-addon">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                  </span>
                  <input type="password" class="form-control input-lg" placeholder="Password" name="password" ng-model="$ctrl.user.password"
                    ng-model-options="{debounce: 200}" ng-minlength="6" ng-maxlength="20" required>
                </div>
                  <div class="text-danger text-left" ng-show="$ctrl.resetPassForm.password.$error.minlength">
                    Password must be at least 6 characters
                  </div>
                  <div class="text-danger text-left" ng-show="$ctrl.resetPassForm.password.$error.email">This is not a valid password.</div>
              </div>

                <div class="form-group">
                <div class="input-group input-group-first">
                  <span class="input-group-addon">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                  </span>
                  <input type="password" class="form-control input-lg" placeholder="Confirm password" name="confirm_password" ng-model="$ctrl.user.cpassword" ng-model-options="{debounce: 200}" ng-minlength="6" ng-maxlength="20" required ba-match="$ctrl.user.password">
                </div>
               <div class="text-danger text-left" ng-show="$ctrl.resetPassForm.confirm_password.$error.match">Please re-enter the same password as above
                  </div>
              </div>

              <div class="form-group p-b-lg signin-btn">
                <button type="submit" class="btn btn-lg btn-round btn-primary btn-block text-u-c" data-ng-disabled="$ctrl.resetPassForm.$invalid">Reset</button>
              </div>
            </fieldset>
          </form>
        </div>
    <!-- ./login page content -->
  </div>
</div>