.page-signin {
    .jumbotron {
        &.signIn {
            background: $white;
            max-width: 52em;
            padding: 30px;
            margin: 10px auto;
            text-align: center;
            h4 {
                margin-bottom: 30px;
                color: $gray-base;
            }
        }
    }
    .signin-form {
        border-left: 1px solid $gray-light;
        padding-left: 30px;
        .form-group {
            margin: 0;
            .input-group {
                border: 0 none;
                border-bottom: 1px solid $gray-light;
                .input-group-addon,
                .form-control {
                    border: 0 none;
                    background: none;
                    box-shadow: none;
                    border-radius: 0;
                    color: $gray-light;
                    font-weight: normal;
                }
                .input-group-addon {
                    font-size: 32px;
                }
                .form-control {
                    font-size: 18px;
                    padding: 30px 10px
                }
            }
            &.signin-btn {
                margin-top: 40px;
            }
        }

        &.reset-password{
          border-left:0 none;
          padding-left:0;
        }
    }
    @media (max-width: 768px) {
        .jumbotron {
            &.signIn {
                h4 {
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
        }
        .signin-form {
            border-left: 0 none;
            padding-left: 0;
        }
    }
}