<div class="container page-signin">
  <div class="jumbotron signIn">
    <!-- /login page content -->
    <div class="row">
      <div class="col-sm-5">
        <h4 class="text-left">
          Sign in With
        </h4>
        <div class="social-providers">
          <div data-ng-repeat="provider in $ctrl.socialProviders track by $index" class="m-b-md provider">
            <button class="btn btn-lg btn-block btn-social" data-ng-disabled="$ctrl.isSigning" type="button" ng-style="{'background-color': provider.css.backgroundColor}"
              ng-click="$ctrl.socialSignin(provider.name)"><i ng-class="'ion-social-' + provider.name"></i>{{provider.label}}</button>
            <a data-ng-href="" title="{{provider.label}}" ng-click="$ctrl.socialSignin(provider.name)" class="provider-icon"><img ng-src="{{'../assets/images/icons/'+provider.name+'.png'}}" /></a>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <h4 class="text-left">
          <span class="hidden-xs">Log In</span><span class="visible-xs">Or</span>
        </h4>
        <div class="signin-form">
          <form class="form-horizontal" name="signinForm" ng-submit="signin.signIn()" novalidate>
            <fieldset>
              <div class="form-group">
                <div class="input-group input-group-first">
                  <span class="input-group-addon">
                  <i class="ion-ios-person-outline" aria-hidden="true"></i>
                  </span>
                  <input type="email" class="form-control input-lg" name="uEmail" placeholder="Username" test-hook="signin.username" ng-model="signin.userName"
                    ng-model-options="{updateOn: 'blur'}" required="">
                </div>
                <div class="text-danger ng-hide">
                  This is not a valid email.
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                  <i class="ion-ios-locked-outline" aria-hidden="true"></i>
                  </span>
                  <input type="password" class="form-control input-lg" placeholder="Password" test-hook="signin.password" name="uPassword"
                    ng-model="signin.userPassword" ng-model-options="{debounce: 500}" required="">
                </div>
                <div class="text-danger ng-hide">
                  This is not a valid Password.
                </div>
              </div>


              <div class="checkbox m-t-md m-b-lg">
                <label class="pull-left">
                  <input type="checkbox"> Remember Me
                </label>
                <div class="text-right text-danger  pull-right">
                  <a href="">Forgot your password?</a>
                </div>
              </div>

              <div class="form-group p-b-lg signin-btn">
                <button type="submit" class="btn btn-lg btn-round btn-primary btn-block text-u-c">login</button>
              </div>

            </fieldset>
          </form>
        </div>
      </div>

    </div>
    <!-- ./login page content -->
  </div>
</div>