body {
    font-family: $font-family-serif;
    background: url(../assets/images/bg/bg-pattern.png);
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important;
    /* Space out content a bit */
    color: $gray;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.btn {
    outline: none !important;
    &.btn-lg {
        padding: 10px 16px;
        &.btn-round {
            border-radius: 30px;
        }
    }
}

a {
    cursor: pointer;
}


/* Everything but the jumbotron gets side spacing for mobile first views 
*/

.container {
    padding: 0;
}

.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}


/* Customize container */

@media (max-width: 768px) {
    .container {
        padding: 0;
        .marketing,
        .jumbotron {
            padding: 0;
            border-radius: 0;
            border: 0 none;
        }
        .panel {
            border-radius: 0;
            border: 0 none;
        }
    }
}

.modal {
    .modal-header {
        position: relative;
        .close {
            position: absolute;
            right: 15px;
            top: 25px;
            >i {
                color: $gray;
            }
            opacity: .8;
            &:hover {
                opacity: 1;
            }
        }
    }
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
   
    .jumbotron {
        border-bottom: 0;
    } */
}

@media (max-width: 768px) {
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}

.w-40 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
}

.w-64 {
    width: 64px;
    height: 64px;
    line-height: 64px;
    display: inline-block;
    text-align: center;
}

.rounded,
.circle {
    border-radius: 500px;
}

.with-base {
    .active-tab {
        color: $brand-primary;
        border-color: transparent;
        border-bottom: 2px solid $brand-primary;
    }
    .nav-tabs {
        border-bottom: 2px solid #ddd;
        >li {
            margin-bottom: -2px;
            a {
                border-bottom: 2px solid #ddd;
                color: #616161;
                background: none;
            }
            &.active {
                >a,
                a:hover,
                a:focus {
                  @extend .active-tab;
                }
            }
            a:hover,
            a:focus {
               @extend .active-tab;
            }
        }
    }
}