 .social-providers {
     .btn {
         &.btn-social {
             padding: 12px 12px 12px 64px;
             font-size: 18px;
             font-weight: 600;
             border-color: rgba(0, 0, 0, .2);
             color: $white;
             position: relative;
             text-align: left;
             white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
             @extend .text-c-c;
             @media (min-width: 768px) {
                 i {
                     padding: 5px;
                     width: 50px;
                     position: absolute;
                     left: 0;
                     top: 0;
                     bottom: 0;
                     font-size: 1.6em;
                     text-align: center;
                     border-right: 1px solid rgba(0, 0, 0, .2);
                     line-height: 4rem;
                 }
             }
             &.btn-github {
                 color: #fff;
                 background-color: #444;
                 border-color: rgba(0, 0, 0, .2);
             }
             &.btn-google-plus,
             &.btn-gplus,
             &.btn-google {
                 color: #fff;
                 background-color: #dd4a38;
                 border-color: #dd4a38;
             }
             &.btn-facebook {
                 color: #fff;
                 background-color: #3b5998;
                 border-color: rgba(0, 0, 0, .2);
             }
             &.btn-twitter {
                 color: #fff;
                 background-color: #55acee;
                 border-color: rgba(0, 0, 0, .2);
             }
         }
     }
     @media (max-width: 768px) {
         >div {
             display: inline-block;
             margin-right: 5px;
             &:last-child {
                 margin-right: 0;
             }
             .btn {
                 &.btn-social {
                     span {
                         display: none;
                     }
                     width: 48px;
                     height: 48px;
                     line-height: 48px;
                     display: inline-block;
                     text-align: center;
                     border-radius: 500px;
                     text-overflow: inherit;
                     padding: 0;
                     font-size: 17px;
                     line-height: 46px;
                 }
             }
         }
     }
 }