//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$white: rgba(255, 255, 255, 1);
$white-dark: rgba(255, 255, 255, 0.87);
$white-light: #f1f1f1;
$gray-base : #000 !default;
$gray-darker : #282828;
$gray-dark : #404040;
$gray :  #616161;
$gray-light : #ccc;
$gray-lighter :  #eeeeee;
$brand-primary : #f26724;
$brand-success : #5cb85c !default;
$brand-info : #5bc0de !default;
$brand-warning : #f0ad4e !default;
$brand-danger : #FE4A00 !default;
$border-color: $gray-lighter;
$font-size : 0.875rem;
$line-height : 1.5;
$font-size-lg : 1.5rem;
$font-size-md : 1.125rem;
$font-size-sm : 0.80rem;
$font-size-xs : 0.75rem;
$spacer: 1.125rem;
$spacer-x: 1.125rem;
$spacer-y: 1.125rem;
$border-color-lt : #d5d4d4;
$border-radius-base : 4px;