<div class="container page-home">
  <div class="jumbotron">
    <!-- /login page content -->
    <div class="row">
      <div class="col-sm-5">
        <h4 class="text-left m-b-lg">
          Sign in With
        </h4>
        <div class="social-providers">
          <button data-ng-repeat="provider in $ctrl.socialProviders track by $index" class="btn btn-lg btn-block btn-social" data-ng-disabled="$ctrl.isSigning"
            type="button" ng-style="{'background-color': provider.css.backgroundColor}" ng-click="$ctrl.socialSignin(provider.name)"><i ng-class="'ion-social-' + provider.name"></i>{{provider.label}}</button>
        </div>
      </div>
      <div class="col-sm-7">
        <h4 class="text-left m-b-lg">
          Log In
        </h4>
        <div class="auth-form">
          <form class="form-horizontal" name="authForm" ng-submit="signin.signIn()" novalidate>
            <fieldset>
              <div class="form-group">
                <div class="input-group input-group-first">
                  <span class="input-group-addon">
                  <i class="ion-ios-person-outline" aria-hidden="true"></i>
                  </span>
                  <input type="email" class="form-control input-lg" name="uEmail" placeholder="Username" test-hook="signin.username"
                    ng-model="signin.userName" ng-model-options="{updateOn: 'blur'}"
                    required="">
                </div>
                <div class="text-danger ng-hide">
                  This is not a valid email.
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                  <i class="ion-ios-locked-outline" aria-hidden="true"></i>
                  </span>
                  <input type="password" class="form-control input-lg" placeholder="Password" test-hook="signin.password" name="uPassword"
                    ng-model="signin.userPassword" ng-model-options="{debounce: 500}" required="">
                </div>
                <div class="text-danger ng-hide">
                  This is not a valid Password.
                </div>
              </div>
              <div class="text-right text-danger m-y-md">
                <a href="">Forgot your password?</a>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-lg btn-round btn-primary btn-block">Sign in</button>
              </div>

              <div class="text-center m-y-md">
                <span>Don't have an account? </span>
                <strong><a href="">Sign up</a></strong>
              </div>

            </fieldset>
          </form>
        </div>
      </div>

    </div>
    <!-- ./login page content -->
  </div>
</div>