<div class="container page-signin deafult-page">
  <app-header></app-header>
  <div class="jumbotron signIn" block-ui="signin">
    <!-- /login page content -->
    <div class="row">
      <div class="col-sm-12">
        <div>
         <p>Connect your AWS account to easily launch Lambda functions.In the meantime, see a demo of the tool in action with example functions.</p> <p class="m-b-0"><a href="https://lambda.backand.io/#/lambdademo/functions?t=OGQ5ZGFlYTgtMzQzMi00NWMxLTk3MGItOGVhODE4MGZmMTBk" class="btn btn-success" target="_blank">See Live Demo</a></p>

        </div>
      </div>

    </div>
    <!-- ./login page content -->
  </div>
</div>