<div class="container page-signin deafult-page">
  <app-header></app-header>
  <div class="jumbotron signIn" block-ui="signin">
    <!-- /login page content -->
    <div class="row">
      <div class="col-sm-12">
        <div>
         <p>Lambda Launcher is a free tool that lets developers easily test and run their Amazon Lambda functions.</p>
          <p>This page is missing 'App Name', so in the meantime, you can view our Lambda Launcher live demo</p>
          <p
                class="m-b-0"><a
                href="https://lambda.backand.io/#/lambdademo/functions?t=OGQ5ZGFlYTgtMzQzMi00NWMxLTk3MGItOGVhODE4MGZmMTBk" class="btn btn-success" target="_blank">See Live Demo</a></p>

        </div>
      </div>

    </div>
    <!-- ./login page content -->
  </div>
</div>