.parametersForm {
    display: block;
    height: calc(100vh - 250px);
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    @media (max-width: 768px) {
      .row{
        margin: 0;
        padding: 0;
        .col-*{
          padding: 0;
        }
      }
        color: #e2e2e2;
        .launch-btn {
            display: none;
        }
        .form-control {
            border-radius: 3px;
            background-color: #070707;
            color: #909090;
            border: 0 none;
            height: 45px;
            font-size: 16px;
        }
    }
}