.page-appParams {
    .panel {
        background: none;
        border: 0 none;
        box-shadow: none;
        @extend .p-y-md;
        @extend .p-x-lg;
        @media (max-width: 768px) {
            padding-left:15px !important;
            padding-right: 15px !important;
        }
        .parametersForm {
            .form-group {
                color: $white;
                .control-label {
                    text-align: left;
                }
            }
        }
    }
}