.page-appFunctions {
    .panel{
      min-height: 150px;
    }
    .app-actions {
        >a {
            padding-top: 0;
            padding-bottom: 0;
            line-height: 0;
            font-size: 18px;
        }
    }
    .sep {
        display: inline-block;
        width: 1px;
        height: 10px;
        background: $gray;
        margin: 0 3px;
    }
    .list {
        &.functions {
            .function-item {
                a {
                    cursor: pointer;
                }
                .function-title,
                .function-meta {
                    display: inline-block;
                }
                @media (max-width: 768px) {
                    .function-meta {
                        display: block;
                        clear: both;
                    }
                    .sep {
                        &:first-child {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}