<div class="page-appFunctions">
  <div class="container">
    <div class="row marketing">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <ul class="list inset functions">
            <li class="list-item function-item" data-ng-repeat="function in $ctrl.functions track by $index">
              <div class="list-body">
                <!-- /function actions -->
                <div class="pull-right app-actions">
                  <a class="btn btn-xs text-body" data-ui-sref="dashboard.parameters({function_id : function.iD})"><i class="fa fa-cog"></i></a>
                  <a class="btn btn-xs text-primary" data-ng-click="$ctrl.runFunction(function, $event);"><i class="fa fa-play-circle-o"></i></a>
                </div>
                <!-- ./function actions -->
                <!-- /function title -->
                <div class="text-lg m-b-0 function-title">
                  <span data-ng-bind="function.name" class="_600"></span>
                </div>
                <!-- ./function title -->
                <!-- /function meta -->
                <div class="m-t-sm function-meta" data-ng-if="$ctrl.fuctionRuns[function.iD]">
                  <span class="sep"></span>
                  <span>
                    <a class="text-success" data-ng-class="{'text-danger' : $ctrl.fuctionRuns[function.iD]['StatusCode'] != 200}" data-ng-click="function.isShowResult = !function.isShowResult" data-ng-href="" title="Show run result">Last run </a>: <span class="_300">{{ $ctrl.fuctionRuns[function.iD]['executionTime'] | date : 'dd/MM/yyyy'}}</span>
                  </span>
                  <span class="sep"></span>
                  <span class="_300">{{ $ctrl.fuctionRuns[function.iD]['executionTime'] | date : 'h:mma'}}</span>
                </div>
                <!-- ./function meta -->
                <div class="m-y-sm clearfix" data-ng-if="function.isShowResult">
                  <span class="label label-success" data-ng-class="{'label-danger' : $ctrl.fuctionRuns[function.iD]['StatusCode'] != 200}">Status Code : {{$ctrl.fuctionRuns[function.iD]['StatusCode']}}</span>
                  <p class="m-b-0" data-ng-bind="$ctrl.fuctionRuns[function.iD]['Payload'] | json"></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>