<div class="page-application">
  <div class="container">
    <div class="row marketing">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <ul class="media-list app-list">
            <li class="media p-x-lg p-y-md">
              <div class="media-left"> <a href="#" style="font-size: 48px;" class="app-icon"> <span class="ion-ios-refresh-outline"></span> </a></div>
              <div class="media-body">
                <h4 class="media-heading text-primary">My App Name - {{$index}}</h4>
                <p class="lead m-b-0">hosting.backand.co/my-app-name-{{$index}}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>